.Weather {
  padding-left: 5em;
  margin-top: 5em;
}
h1 {
  text-align: center;
  color: rgb(63, 35, 223);
}
.each {
  margin-left: 200px;
}

.weather-code {
  height: 45px;
  width: 45px;

  display: flex;
}
